@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0052ff;
  --primary-foreground: #ffffff;
  --primary-muted: rgba(0, 82, 255, 0.12);
  /* --spacing: 0.1rem; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
:root {
  --font-bricolage: "Bricolage", sans-serif;
  --font-source-sans: "Source Sans Pro", sans-serif;
  --font-source-serif: "Source Serif Pro", serif;
  --font-work-sans: "Work Sans", sans-serif;
}

.page-container {
  width: min(100%, 80rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* .navbar-grid {
  display: grid;
  grid-template-columns: var(--navbar-edge-width, auto) 1fr var(--navbar-edge-width, auto);
  align-items: center;
}

.navbar-edge {
  display: flex;
  width: var(--navbar-edge-width, auto);
}

.navbar-edge-left {
  justify-content: flex-start;
}

.navbar-edge-right {
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
} */
.navbar-grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center; /* vertically centers items */
  gap: 1rem; /* optional spacing between columns */
}
.messages-img {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("/messages-1920.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-container {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  background-image: url("/Hero-bg.png");
  background-size: cover;
  background-position: center;
}
.f-1-heading .feature-title {
  box-shadow: 0px 4px 15.5px 0px #0052ff0d, inset 0px -1px 1px 0px #0052ff1a;
  color: rgba(0, 82, 255, 1);
  background: rgba(0, 82, 255, 0.07);
  backdrop-filter: blur(37.099998474121094px);
}
